@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --primary: #01999A;
    --secondary: #B8E439;
    --fontColor: #3d3d3d;
    --grey: #EDEDED;
    --greyDark: #9b9b9b;
    --shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

* {
    color: var(--secondary);
    font-family: 'Poppins', sans-serif;
}

/* Search Start */
.container .search-custom textarea {
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.196);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    resize: none;
    width: 600px;
    height: 40px;
    padding: 8px 0 0 10px;
    font-size: 12px;
}

.container .search-custom .ic-search {
    cursor: pointer;
    width: 45px;
    height: 40px;
    padding: 8px;
    background-color: var(--grey);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.196);
    transition: .2s;
}
.container .search-custom .ic-search:hover {
    background-color: var(--primary);
}
/* Search End */

/* Nav */
nav .cart img {
    cursor: pointer;
}

/* Heading Start */
.container header {
    box-shadow:var(--shadow);
    width: 800px;
    border-radius: 15px;
    margin-top: 150px;
} 

.container.header p {
    color: var(--fontColor);
}

.container.header p.plu {
    color: var(--fontColor);
    text-decoration: line-through;
}

.container.header p.plp {
    color: var(--fontColor);
    font-size: 20px;
}

.container header #carouselExampleIndicators img {
    border-radius: 15px;
}

.container .promotion-header {
    box-shadow:var(--shadow);
    padding: 18px;
    width: 350px;
    border-radius: 15px;
    margin-top: 150px;
}
/* Heading End */

/* Modal Start */
.sty-modal h5,
.sty-modal label {
    color: var(--fontColor) !important;
}
/* Modal End */

/* Content Start */
.container.content .content {
    margin: 20px 0;
    flex-wrap: wrap;
}
.container.content .content .box {
    width: 280px;
    height: 380px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    transform: scale(.98);
    cursor: pointer;
    transition: .4s;
    margin-right: 25px;
}
.container.content .content .box:hover {
    border-radius: 20px;
    box-shadow: var(--shadow);
    transform: scale(1);
}
.container.content .content .box .image {
    /* background-color: var(--primary); */
    border-bottom: 2px solid rgba(0, 0, 0, 0.119);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 50px;
}


.btn-buying {
    background-color: var(--primary);
    color: #fff;
    padding: 5px 15px;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: var(--shadow);
    width: 100%;
    height: 38px;
    transition: .2s;
}
.btn-cart {
    background-color: var(--secondary);
    color: var(--fontColor);
    padding: 5px 15px;
    outline: none;
    border: none;
    border-radius: 8px;
    box-shadow: var(--shadow);
    width: 100%;
    height: 38px;
    transition: .2s;
}
.btn-buying:hover {
    background-color: #00b3b3;
}

.container.content .content .box .content-box {
    padding: 10px;
}

.container.content .content .box .content-box h3 {
    color: var(--fontColor);
    font-size: 22px;
    font-weight: 600;
}
.container.content .content .box .content-box .text-muted {
    font-size: 14px;
}
.container.content .content .box .content-box .price {
    color: var(--fontColor);
    font-size: 18px;
    font-weight: 600;
}

.div-cart {
    background-color: #B8E439;
    border-radius: 50px;
    width: 30px;
}
.p-cart {
    color: var(--fontColor);
}

/* Content End */

/* Footer Start */
footer {
    background-color: var(--grey);
    height: 300px;
}
footer .container.container.footer {
    padding: 20px;
    box-sizing: border-box;
}
footer .container.container.footer .cr {
    text-align: center;
    margin-top: 80px;
}
footer .container.container.footer .cr p{
    color: var(--fontColor);
}

footer .container.footer ul li {
    list-style: none;
}
footer .container.footer ul li a{
    text-decoration: none;
    color: var(--fontColor);
    transition: .2s;
}
footer .container.footer ul li a:hover{
    color: var(--secondary)
}
/* Footer End */

/* Admin Start */
.box-admin {
    width: 100%;
    margin-top: 120px;
    height: 400px;
}
.box-admin .box-1 {
    background-color: #fff;
    border-radius: 15px;
    width: 30%;
    height: 100%;
    box-shadow: var(--shadow);
}
.box-admin .box-2 {
    background-color: var(--primary);
    border-radius: 15px;
    width: 68%;
    height: 100%;
    box-shadow: var(--shadow);
}
/* Admin End */